################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/PCD-II/v17/ipch/AutoPCH/b6b9aa5c8f6fcd18/PJJ.ipch
